.float {
  display: none;
}

.myVerticalSwiper {
  width: 100%;
  height: 90vh;
}
//---------------------------------------------------HERO
.hero {
  display: flex;
  background-color: $p8;
  background-image: url('../assets/img/banners/Banner_Muchomasquedisenio.jpg');
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//---------------------------------------------------SERVICIOS
.servicios {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: $p8;
  background-image: url('../assets/img/banners/Banner_Diseniodepackaging.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//---------------------------------------------------PROYECTOS
.proyectos {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: $p8;
  background-image: url('../assets/img/banners/Banner_DisenioEditorial.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//---------------------------------------------------EL ESTUDIO
.el-estudio {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: $p8;
  background-image: url('../assets/img/banners/Banner_IdentidadYBranding.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//---------------------------------------------------CONTACTANOS
.contactanos {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: $p8;
  background-image: url('../assets/img/banners/Banner_MarketingDigital.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__right {
  background-color: $p8;
  width: 35%;
  height: 100%;
  margin-right: 3.33%;
  margin-left: auto;
}
.hero__right--textArea {
  width: 100%;
  height: 60%;
  display: flex;
  .hero__right--text {
    width: fit-content;
    height: fit-content;
    margin: auto auto 0 auto;
    .t1 {
      font-family: $font2;
      font-style: normal;
      font-weight: 200;
      font-size: 60.399px;
      line-height: 74px;
      text-transform: uppercase;
    }
    .t2 {
      font-family: $font4;
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      line-height: 123px;
      margin-top: -30px;
    }
    .t3 {
      margin: auto;
      width: fit-content;
      font-family: $font2;
      font-style: normal;
      font-weight: 700;
      font-size: 23.5066px;
      line-height: 27px;
    }
  }
}
.hero__right--cta {
  width: 100%;
  height: 40%;
  display: flex;

  a {
    text-decoration: none;
    color: $black;
    background-color: $p1;
    margin: auto;
  }

  button {
    cursor: pointer;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 15.2836px;
    line-height: 18px;
    text-transform: uppercase;
    margin: auto;
    height: 35px;
    width: 105px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
  }
}

//---------------------------------------------------LEFT
.left {
  width: 35%;
  height: 100%;
  background-color: $p8;
  margin-left: 3.33%;
  margin-right: auto;
}
.left--textArea {
  width: 100%;
  height: 90%;
  display: flex;
  .left--text {
    width: fit-content;
    height: fit-content;
    margin: auto auto 5% auto;
    .left--title {
      .t1 {
        font-family: $font4;
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 123px;
      }
    }
    .left--texts {
      width: fit-content;
      margin-left: auto;
      margin-right: 15%;
      .t2 {
        width: fit-content;
        font-family: $font4;
        font-style: normal;
        font-weight: 400;
        font-size: 35.2277px;
        line-height: 48px;
      }
    }
  }
}
.left--cta {
  width: 100%;
  height: 10%;
  display: flex;
  a {
    text-decoration: none;
    color: $black;
    background-color: $p1;
    margin: auto;
  }

  button {
    cursor: pointer;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 15.2836px;
    line-height: 18px;
    text-transform: uppercase;
    margin: auto;
    height: 35px;
    width: 105px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
  }
}

//---------------------------------------------------RIGHT
.right {
  width: 35%;
  height: 100%;
  background-color: $p8;
  margin-right: 3.33%;
  margin-left: auto;
}
.right--textArea {
  width: 100%;
  height: 90%;
  display: flex;
  .right--text {
    width: fit-content;
    height: fit-content;
    margin: auto auto 5% auto;
    .right--title {
      .t1 {
        font-family: $font4;
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 123px;
      }
    }
    .right--texts {
      width: fit-content;
      margin-left: auto;
      margin-right: 10%;
      .t2 {
        width: fit-content;
        font-family: $font4;
        font-style: normal;
        font-weight: 400;
        font-size: 35.2277px;
        line-height: 48px;
      }
    }
  }
}
.right--cta {
  width: 100%;
  height: 10%;
  display: flex;
  a {
    text-decoration: none;
    color: $black;
    background-color: $p1;
    margin: auto;
  }

  button {
    cursor: pointer;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 15.2836px;
    line-height: 18px;
    text-transform: uppercase;
    margin: auto;
    height: 35px;
    width: 105px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
  }
}

//---------------------------------------------------MODIFICATIONS
.el-estudio {
  .left--textArea {
    .left--texts {
      margin-right: 0;
      margin-left: 80px;
    }
  }
}

//---------------------------------------------------INSTAGRAM SLIDERS
.instagram__slider {
  width: 100%;
  height: 167px;
  margin: 30px 0 30px 0;
  background-color: $p8;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 167px;
    height: 167px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    background-color: $p8;
  }
  .instagram__banner {
    display: flex;
    margin-top: -65px;
    img {
      z-index: 2;
      margin: auto;
      min-width: 90px;
    }
  }
}

.socialmedia {
  margin-bottom: 30px;
  width: 100%;
  .socials {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    a {
      display: flex;
      svg {
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 830px) {
  .myVerticalSwiper {
    width: 100%;
    height: 90vh;
  }

  .hero__right {
    width: 100%;
    margin: 0;
  }
  .hero__right--textArea {
    .hero__right--text {
      margin: auto auto 25% auto;
      .t1 {
        font-size: 34.6789px;
        line-height: 43px;
      }
      .t2 {
        font-size: 51.6746px;
        line-height: 71px;
        margin-top: -20px;
      }
      .t3 {
        font-weight: 700;
        font-size: 13.4966px;
        line-height: 16px;
      }
    }
  }
  .hero__right--cta {
    button {
      font-size: 15.2836px;
      line-height: 18px;
      height: 35px;
      width: 105px;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .left {
    width: 100%;
    height: 60%;
    background-color: $p8;
    margin: auto 0 0 0;
  }
  .left--textArea {
    height: 85%;
    .left--text {
      .left--title {
        .t1 {
          font-size: 51.532px;
          line-height: 71px;
        }
      }
      .left--texts {
        .t2 {
          font-size: 20.1706px;
          line-height: 28px;
        }
      }
    }
  }
  .left--cta {
    height: 15%;
    button {
      font-size: 8.77px;
      line-height: 10px;
      height: 19.52px;
      width: 59.71px;
    }
  }

  .right {
    width: 100%;
    height: 60%;
    background-color: $p8;
    margin: auto 0 0 0;
  }
  .right--textArea {
    height: 85%;
    .right--text {
      .right--title {
        .t1 {
          font-size: 51.532px;
          line-height: 71px;
        }
      }
      .right--texts {
        .t2 {
          font-size: 20.1706px;
          line-height: 28px;
        }
      }
    }
  }
  .right--cta {
    width: 100%;
    height: 15%;
    button {
      font-size: 8.77px;
      line-height: 10px;
      height: 19.52px;
      width: 59.71px;
    }
  }

  .cta__socialMediaArea {
    .instagram__slider {
      display: block;
      width: 100%;
      height: 70px;
      margin: 100px 0 30px 0;
      position: relative;
      background-color: $p8;
      .swiper {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        width: 167px;
        height: 167px;
        text-align: center;
        justify-content: center;
        font-size: 18px;
        background-color: $p8;
      }
      .instagram__banner {
        img {
          width: 150px;
          margin-top: 6%;
        }
      }
    }
    .socialmedia {
      display: block;
      .socials {
        width: 80%;
        a {
          svg {
            max-width: 30px;
            max-height: 30px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .hero__right {
    width: 50%;
  }
  .hero__right--textArea {
    .hero__right--text {
      .t1 {
        font-size: 50.399px;
      }
      .t2 {
        font-size: 70px;
      }
      .t3 {
        font-size: 17.5066px;
        margin-top: -20px;
      }
    }
  }

  .left {
    width: 50%;
    background-color: $p8;
  }
  .left--textArea {
    .left--text {
      .left--title {
        .t1 {
          font-size: 70px;
        }
      }
      .left--texts {
        .t2 {
          font-size: 27px;
        }
      }
    }
  }

  .right {
    width: 50%;
    background-color: $p8;
  }
  .right--textArea {
    .right--text {
      .right--title {
        .t1 {
          font-size: 80px;
        }
      }
      .right--texts {
        .t2 {
          font-size: 25px;
        }
      }
    }
  }
}
