@import 'variables';

.proyectos__hero {
  height: 90vh;
  width: 100%;
  background-color: $p7;
  display: flex;
  .proyectos__hero--texts {
    margin: auto;
    width: fit-content;
    h1 {
      font-family: $font4;
      font-style: normal;
      font-weight: 400;
      font-size: 131.01px;
      line-height: 180px;
      margin-bottom: -15px;
    }
  }
  .proyectos__hero--texts--text {
    width: 100%;
    display: flex;
    div {
      margin-left: auto;
      width: fit-content;
      height: fit-content;
    }
    p {
      font-family: $font4;
      font-style: normal;
      font-weight: 400;
      font-size: 51.28px;
      line-height: 70px;
      margin-top: -20px;
    }
  }
}

.proyectos__alls {
  height: 90vh;
  width: 100%;
}

.proyectos__types {
  height: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-family: $font2;
  }
}
.proyectos__projects {
  width: 70%;
  height: 60%;
  margin: auto;
  .proyectos__projects--projects {
    width: 100%;
    height: 50%;
    display: flex;
    .proyectos__projects--project {
      text-decoration: none;
      color: black;
      margin: auto;
      width: 45%;
      height: 90%;
      background-color: $p8;
      display: flex;
      .proyect__info {
        margin-top: auto;
        width: 100%;
        height: 30%;
        background-color: $p7;
        display: flex;
        div {
          margin: auto;
          width: 90%;
          .proyect__name {
            font-family: $font2;
            font-style: normal;
            font-weight: 700;
            font-size: 23.5066px;
            line-height: 27px;
            width: 100%;
            height: fit-content;
            margin: auto;
          }
          .proyect__brand {
            font-family: $font2;
            font-style: normal;
            font-weight: 200;
            font-size: 23.5066px;
            line-height: 29px;
            width: 100%;
            height: fit-content;
            margin: auto;
          }
        }
      }
    }
  }
}
.proyectos__some-projects {
  margin: auto;
  display: flex;
  width: 70%;
  height: 15%;
  div {
    margin: auto;
    display: flex;
    p {
      margin: auto;
      font-family: $font4;
      font-style: normal;
      font-weight: 400;
      font-size: 36.6813px;
      line-height: 50px;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 830px) {
  .proyectos__hero {
    .proyectos__hero--texts {
      h1 {
        font-size: 51.532px;
        line-height: 71px;
      }
    }
    .proyectos__hero--texts--text {
      p {
        font-size: 20.1706px;
        line-height: 28px;
        margin-top: -5px;
      }
    }
  }
  .proyectos__alls {
    height: 150vh;
    width: 100%;
  }

  .proyectos__types {
    height: 20%;
    width: 70%;
    display: flex;
    flex-direction: column;
    a {
      font-size: 11.8379px;
      line-height: 14px;
      margin: auto;
      text-decoration: none;
      color: black;
      font-family: $font2;
    }
  }

  .proyectos__projects {
    height: 80%;
    flex-direction: column;

    .proyectos__projects--projects {
      flex-direction: column;
      margin: auto;
      .proyectos__projects--project {
        margin: auto;
        width: 100%;
        height: 40%;
        .proyect__info {
          div {
            .proyect__name {
              font-size: 14.8411px;
              line-height: 17px;
            }
            .proyect__brand {
              font-size: 14.8411px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  .proyectos__some-projects {
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .proyectos__hero {
    .proyectos__hero--texts {
      h1 {
        font-size: 90px;
        line-height: 115px;
        margin-bottom: -10px;
      }
    }
    .proyectos__hero--texts--text {
      p {
        font-size: 35px;
        line-height: 50px;
        margin-top: -15px;
      }
    }
  }
}
