@import 'variables';

//MOBILE RESPONSIVE---------------------------------------------------
//MOBILE RESPONSIVE---------------------------------------------------
//MOBILE RESPONSIVE---------------------------------------------------

@media only screen and (min-width: 0px) and (max-width: 830px) {

    //---------------------------------------------------NAVBAR

    nav {
        padding: 5px 1rem;
    }

    .nav-branding img {
        z-index: 11;
    }

    /* CHAU */
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 0;
        height: 100%;
        z-index: 9;

        width: 100%;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: $white;
        /* background-color: #fcfcfc; */
        transition: .5s ease;
    }

    /* HOLA */
    .nav-menu.active {
        left: 0%;
        transition: .7s ease;
    }

    .nav-menu.active::before {
        box-shadow: -20px 0 20px -20px rgba(0,0,0,0.56) inset;
        content: " ";
        height: 100%;
        left: -20px;
        position: absolute;
        top: 0;
        width: 20px;
    }

    .nav-menu-list {
        margin: 100px 20px 0 0;

        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 20px;
    }

    .nav-menu-social {
        margin: 0 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .hamburger {
        display: block;
        z-index: 11;
        cursor: pointer;
    }

    .hamburger:hover .bar {
        background-color: $p1;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        width: 25px;
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;

        background-color: $p4;
        border-radius: 5px;

        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .bar:nth-child(2),
    .bar:nth-child(3) {
        width: 15px;
        margin-right: 0;
    }

    //---------------------------------------------------INDEX

    .hero__right {
        width: 100%;
        margin: 0;
    }

    .hero__right--textArea {
        .hero__right--text {
            margin: auto;

            .t1 {
                font-size: 34.6789px;
                line-height: 43px;
            }

            .t2 {
                font-size: 51.6746px;
                line-height: 71px;
                margin-top: -20px;
            }

            .t3 {
                font-weight: 700;
                font-size: 13.4966px;
                line-height: 16px;
            }
        }
    }

    .hero__right--cta {
        button {
            font-size: 15.2836px;
            line-height: 18px;
            height: 35px;
            width: 105px;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .left {
        width: 100%;
        height: 60%;
        background-color: $p7;
        margin: auto 0 0 0;
    }

    .left--textArea {
        height: 85%;

        .left--text {
            .left--title {
                .t1 {
                    font-size: 51.532px;
                    line-height: 71px;
                }
            }

            .left--texts {
                .t2 {
                    font-size: 20.1706px;
                    line-height: 28px;
                }
            }
        }
    }

    .left--cta {
        height: 15%;

        button {
            font-size: 8.77px;
            line-height: 10px;
            height: 19.52px;
            width: 59.71px;
        }
    }

    .right {
        width: 100%;
        height: 60%;
        background-color: $p7;
        margin: auto 0 0 0;
    }

    .right--textArea {
        height: 85%;

        .right--text {
            .right--title {
                .t1 {
                    font-size: 51.532px;
                    line-height: 71px;
                }
            }

            .right--texts {
                .t2 {
                    font-size: 20.1706px;
                    line-height: 28px;
                }
            }
        }
    }

    .right--cta {
        width: 100%;
        height: 15%;

        button {
            font-size: 8.77px;
            line-height: 10px;
            height: 19.52px;
            width: 59.71px;
        }
    }

    .instagram__slider {
        display: none;
    }

    .socialmedia {
        z-index: -10;
        margin: 6.5% 0 6.5% 0;

        .socials {
            width: 80%;

            a {
                svg {
                    max-width: 30px;
                    max-height: 30px;
                }
            }
        }
    }

    //---------------------------------------------------FOOTER

    footer {
        height: auto;
    }

    .footer {
        margin: auto;
        height: auto;
    }

    .footer--top {
        flex-direction: column;
        border: 0px;
        padding: 0;
    }

    .footer--top__left {
        height: 150px;
        border-top: 1px solid $p8;
        border-bottom: 1px solid $p8;
        margin: 30px 0 15px 0;
        border-right: 0px;
        width: 100%;
        order: 1;

        span {
            font-family: DM Serif Display;
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
        }

        .emails {
            a {
                font-family: Helvetica Light;
                font-size: 9px;
                font-weight: 400;
                line-height: 10px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .social {
            width: 30%;
            display: flex;
            align-items: center;

            svg{
                width: 20px;
                height: 20px;
            }
        }
    }

    .footer--top__right {
        margin: 0;
        padding: 0;
        margin-top: 50px;
        width: 100%;
        height: auto;
        order: 0;

        .map--site {
            div {
                margin: 0;
                padding: 0;
                width: 50%;
                height: 150px;

                .map--site__header {
                    width: 100%;

                    a {
                        font-family: Helvetica;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                ul {
                    a {
                        font-family: Helvetica Light;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }
        }
    }

    .footer--bottom {
        padding-bottom: 36px;
        width: 94%;
        margin: auto;

        span {
            font-family: Helvetica Light;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
    }
}

//TABLET RESPONSIVE---------------------------------------------------
//TABLET RESPONSIVE---------------------------------------------------
//TABLET RESPONSIVE---------------------------------------------------

@media only screen and (min-width: 830px) and (max-width: 1200px) {

    //---------------------------------------------------INDEX

    .hero {
        background-color: $p8;
    }

    .hero__right {
        width: 50%;
        background-color: $p7;
    }

    .hero__right--textArea {
        .hero__right--text {
            .t1 {
                font-size: 50.399px;
            }

            .t2 {
                font-size: 70px;
            }

            .t3 {
                font-size: 17.5066px;
                margin-top: -20px;
            }
        }
    }

    .left {
        width: 50%;
        background-color: $p7;
    }

    .left--textArea {
        .left--text {
            .left--title {
                .t1 {
                    font-size: 70px;
                }
            }

            .left--texts {
                .t2 {
                    font-size: 27px;
                }
            }
        }
    }

    .right {
        width: 50%;
        background-color: $p7;
    }

    .right--textArea {
        .right--text {
            .right--title {
                .t1 {
                    font-size: 80px;
                }
            }

            .right--texts {
                .t2 {
                    font-size: 25px;
                }
            }
        }
    }
    
    //---------------------------------------------------FOOTER
    
    footer {
        height: auto;
    }

    .footer {
        margin: auto;
        height: auto;
    }

    .footer--top {
        flex-direction: column;
        border: 0px;
    }

    .footer--top__left {
        height: 150px;
        border-top: 1px solid $p8;
        border-bottom: 1px solid $p8;
        margin: 30px 0 15px 0;
        border-right: 0px;
        width: 100%;
        order: 1;

        span {
            font-family: DM Serif Display;
            font-size: 28px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
        }

        .emails {
            a {
                font-family: Helvetica Light;
                font-size: 13px;
                font-weight: 400;
                line-height: 10px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .social {
            width: 30%;

            a {
                width: 30px;
                height: 30px;
            }
        }
    }

    .footer--top__right {
        margin-top: 50px;
        width: 100%;
        height: auto;
        order: 0;

        .map--site {
            div {
                margin: 0;
                padding: 0;
                width: 33%;
                height: 150px;

                .map--site__header {
                    width: 100%;

                    a {
                        font-family: Helvetica;
                        font-size: 19.5px;
                        font-weight: 400;
                        line-height: 17px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }

                ul {
                    a {
                        font-family: Helvetica Light;
                        font-size: 14.5px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
            }
        }
    }

    .footer--bottom {
        padding-bottom: 36px;
        width: 94%;
        margin: auto;

        span {
            font-family: Helvetica Light;
            font-size: 15px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
            color: $white;
        }
    }
}