.float {
  display: none;
}

.myVerticalSwiper {
  width: 100%;
  height: 92.4vh;
}

.servicios__hero {
  height: 92.4vh;
  width: 100%;
  background-color: $p8;
  display: flex;
  flex-direction: column;
  .servicios__hero--texts {
    margin: auto auto 3% auto;
    width: fit-content;
    .hero--title {
      width: fit-content;
      margin: auto;
      margin-bottom: 20px;
      .t1 {
        background-color: $p2;
        width: fit-content;
        margin-left: 40px;
        height: 70px;
        p {
          margin-left: -40px;
          font-family: $font4;
          font-weight: 400;
          font-size: 131.01px;
          line-height: 20px;
          //line-height: 40px;
          padding-right: 30px;
        }
      }
    }
  }
  .servicios__hero--texts--text {
    width: 100%;
    display: flex;
    flex-direction: column;
    div {
      margin-left: auto;
      height: fit-content;
    }
    p {
      font-family: $font4;
      font-style: normal;
      font-weight: 400;
      font-size: 51.28px;
      line-height: 70px;
      margin-top: -20px;
    }
  }
  a {
    background-color: $p1;
    padding: 11px 22px 11px 22px;
    margin: 30px auto 70px auto;
    text-transform: uppercase;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 22.3375px;
    line-height: 26px;
    box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
  }
}

.servicios__packaging {
  background-image: url('../assets/img/banners/Banner_Diseniodepackaging.jpg');
  background-color: $p8;
  width: 100%;
  height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.servicios__branding {
  background-image: url('../assets/img/banners/Banner_IdentidadYBranding.jpg');
  background-color: $p8;
  width: 100%;
  height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.servicios__editorial {
  background-image: url('../assets/img/banners/Banner_DisenioEditorial.jpg');
  background-color: $p8;
  width: 100%;
  height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.servicios__marketing {
  background-image: url('../assets/img/banners/Banner_MarketingDigital.jpg');
  background-color: $p8;
  width: 100%;
  height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left__text {
  height: 100%;
  width: 45%;
  background-color: $p8;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .left__texts {
    height: fit-content;
    width: fit-content;
    width: 65%;
    margin: auto;

    .left--title {
      margin: auto;
      .t1n {
        text-transform: uppercase;
        font-family: $font2;
        font-style: normal;
        font-weight: 200;
        font-size: 62.0856px;
        line-height: 76px;
      }
      .t1 {
        margin-top: 10px;
        background-color: $p2;
        width: fit-content;
        margin-left: 40px;
        height: 75px;
        .t1t {
          margin-left: -40px;
          font-family: $font4;
          font-style: normal;
          font-weight: 400;
          font-size: 90px;
          line-height: 30px;
        }
      }
    }

    .left__text--p {
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 22.3277px;
      line-height: 26px;
      .left__text--p--bold {
        font-weight: 600;
      }
      p {
        margin-top: 30px;
      }
    }
  }
  .left__cta-area {
    margin: auto;
    display: flex;
    button {
      padding: 12px 23px;
      margin: auto 0 auto auto;
      background-color: $p7;
      cursor: pointer;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 22.3336px;
      line-height: 26px;
      text-transform: uppercase;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
    }
    a {
      text-decoration: none;
      color: $black;
      background-color: $p1;
      margin: auto;
    }
  }
}
.right__labels {
  height: 100%;
  width: 50%;
  display: flex;
  div {
    width: fit-content;
    height: fit-content;
    margin: auto 0 auto auto;
  }
  p {
    margin: 26px 0 26px auto;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 22.3277px;
    line-height: 26px;
    background-color: $p2;
    width: fit-content;
    padding: 4px 14px 3px 14px;
  }
}
.right__labels--mobile {
  display: none;
}
.left__labels--mobile {
  display: none;
}

.right__text {
  height: 100%;
  width: 45%;
  background-color: $p8;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .right__texts {
    height: fit-content;
    width: fit-content;
    width: 65%;
    margin: auto;
    .right--title {
      margin: auto;
      .t1n {
        text-transform: uppercase;
        font-family: $font2;
        font-style: normal;
        font-weight: 200;
        font-size: 62.0856px;
        line-height: 76px;
      }
      .t1 {
        margin-top: 10px;
        background-color: $p2;
        width: fit-content;
        margin-left: 40px;
        height: 75px;
        .t1t {
          margin-left: -40px;
          font-family: $font4;
          font-style: normal;
          font-weight: 400;
          font-size: 90px;
          line-height: 30px;
        }
      }
    }
    .right__text--p {
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 22.3277px;
      line-height: 26px;
      .right__text--p--bold {
        font-weight: 600;
      }
      p {
        margin-top: 30px;
      }
    }
  }
  .right__cta-area {
    margin: auto;
    display: flex;
    button {
      padding: 12px 23px;
      margin: auto 0 auto auto;
      background-color: $p7;
      cursor: pointer;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 22.3336px;
      line-height: 26px;
      text-transform: uppercase;
      border: 0;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 0px 9px 13px -3px rgba(0, 0, 0, 0.25);
    }
    a {
      text-decoration: none;
      color: $black;
      background-color: $p1;
      margin: auto;
    }
  }
}
.left__labels {
  height: 100%;
  width: 50%;
  margin-left: auto;
  display: flex;
  div {
    width: fit-content;
    height: fit-content;
    margin: auto auto auto 0;
  }
  p {
    margin: 26px auto 26px 0;
    font-family: $font2;
    font-style: normal;
    font-weight: 400;
    font-size: 22.3277px;
    line-height: 26px;
    background-color: $p2;
    width: fit-content;
    padding: 4px 14px 3px 14px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 830px) {
  .myVerticalSwiper {
    width: 100%;
    height: 90vh;
  }

  .servicios__hero {
    .servicios__hero--texts {
      margin: auto;
      .hero--title {
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
        .t1 {
          background-color: $p2;
          width: fit-content;
          margin-left: 20px;
          height: 40px;
          p {
            margin-left: -20px;
            font-family: $font4;
            font-weight: 400;
            font-size: 51.739px;
            line-height: 20px;
            //line-height: 40px;
            padding-right: 30px;
          }
        }
      }
    }
    .servicios__hero--texts--text {
      p {
        font-size: 20.1706px;
        line-height: 28px;
        margin-top: -5px;
      }
    }
    a {
      font-size: 14.6324px;
      line-height: 17px;
      padding: 9px 17px;
    }
  }

  .left__text {
    height: 80%;
    width: 100%;
    margin: auto 0 0 0;
    .left__texts {
      .left__texts--texts {
        height: fit-content;
      }
      .left--title {
        margin: auto;
        .t1n {
          text-transform: uppercase;
          font-family: $font2;
          font-style: normal;
          font-weight: 200;
          font-size: 35.6472px;
          line-height: 76px;
        }
        .t1 {
          margin-top: -20px;
          margin-bottom: 5px;
          background-color: $p2;
          width: fit-content;
          margin-left: 40px;
          height: 45px;
          .t1t {
            margin-left: -40px;
            font-family: $font4;
            font-style: normal;
            font-weight: 400;
            font-size: 51.6746px;
            line-height: 30px;
          }
        }
      }
      .left__text--p {
        font-size: 12.8198px;
        line-height: 15px;
        p {
          margin-top: 20px;
        }
      }
    }
    .left__cta-area {
      button {
        padding: 6px 11px 6px 11px;
        font-size: 10.84px;
        line-height: 12px;
      }
    }
  }
  .right__labels {
    display: none;
  }

  .right__labels--mobile {
    margin-top: 20px;
    display: block;
    width: 100%;
    p {
      display: inline-flex;
      margin: 4px;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 11.0896px;
      line-height: 13px;
      background-color: $p2;
      width: fit-content;
      padding: 2px 4px 2px 4px;
    }
  }

  .right__text {
    height: 80%;
    width: 100%;
    margin: auto 0 0 0;
    .right__texts {
      .right__texts--texts {
        height: fit-content;
      }
      .right--title {
        margin: auto;
        .t1n {
          text-transform: uppercase;
          font-family: $font2;
          font-style: normal;
          font-weight: 200;
          font-size: 35.6472px;
          line-height: 76px;
        }
        .t1 {
          margin-top: -20px;
          margin-bottom: 5px;
          background-color: $p2;
          width: fit-content;
          margin-left: 40px;
          height: 45px;
          .t1t {
            margin-left: -40px;
            font-family: $font4;
            font-style: normal;
            font-weight: 400;
            font-size: 51.6746px;
            line-height: 30px;
          }
        }
      }
      .right__text--p {
        font-size: 12.8198px;
        line-height: 15px;
        p {
          margin-top: 20px;
        }
      }
    }
    .right__cta-area {
      button {
        padding: 6px 11px 6px 11px;
        font-size: 10.84px;
        line-height: 12px;
      }
    }
  }
  .left__labels {
    display: none;
  }
  .left__labels--mobile {
    margin-top: 20px;
    display: block;
    width: 100%;
    p {
      display: inline-flex;
      margin: 4px;
      font-family: $font2;
      font-style: normal;
      font-weight: 400;
      font-size: 11.0896px;
      line-height: 13px;
      background-color: $p2;
      width: fit-content;
      padding: 2px 4px 2px 4px;
    }
  }

  .socialmedia {
    display: none;
  }

  .instagram__slider {
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .servicios__hero {
    .servicios__hero--texts {
      margin: auto;
      h1 {
        font-size: 90px;
        line-height: 115px;
        margin-bottom: -10px;
      }
    }
    .servicios__hero--texts--text {
      p {
        font-size: 35px;
        line-height: 50px;
        margin-top: -15px;
      }
    }
  }

  .left__text {
    .left__texts {
      width: 80%;
      .left__text--title {
        .t1 {
          font-size: 46px;
          line-height: 58px;
        }
        .t2 {
          font-size: 70px;
          line-height: 93px;
          margin-top: -20px;
        }
      }
      .left__text--p {
        font-size: 17px;
        line-height: 21px;
        p {
          margin-top: 20px;
        }
      }
    }
    .left__cta-area {
      button {
        padding: 5px 15px 5px 15px;
        a {
          font-size: 14px;
          line-height: 27px;
        }
      }
    }
  }
  .right__labels {
    p {
      font-size: 17px;
      line-height: 21px;
      padding: 3px 12px 3px 12px;
    }
  }

  .right__text {
    .right__texts {
      width: 80%;
      .right__text--title {
        .t1 {
          font-size: 46px;
          line-height: 58px;
        }
        .t2 {
          font-size: 70px;
          line-height: 93px;
          margin-top: -20px;
        }
      }
      .right__text--p {
        font-size: 17px;
        line-height: 21px;
        p {
          margin-top: 20px;
        }
      }
    }
    .right__cta-area {
      button {
        padding: 5px 15px 5px 15px;
        a {
          font-size: 14px;
          line-height: 27px;
        }
      }
    }
  }
  .left__labels {
    p {
      font-size: 17px;
      line-height: 21px;
      padding: 3px 12px 3px 12px;
    }
  }
}
