@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$p1: #ffd73a;
$p1: #ffe682;
$p3: #fff4cb;

$p4: #3c3c3b;
$p5: #505050;
$p6: #575756;
$p7: #d9d9d9;

$black: #000000;
$white: #ffffff;

$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;
$font3: 'DM Serif Display', serif;